@font-face{
    font-family: "Inter Regular";
    src: url("/font/Inter_18pt-Regular.ttf");
    font-display: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Inter Medium";
    src: url("/font/Inter_18pt-Medium.ttf");
    font-display: auto;
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Inter Bold";
    src: url("/font/Inter_18pt-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Coming Soon";
    src: url("/font/ComingSoon-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Madimi One";
    src: url("/font/MadimiOne-Regular.ttf");
    font-weight: 600;
}
