*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter Regular";
    font-size: 16px;
}

#root{
    height: 100vh;
    padding-top: 55px;
    background: #404259;
    //background: linear-gradient(to left, #292E49, #536976, #b0c5b9);
}


@media screen and (width <= 450px){
    #root{
        padding-top: 100px;
    }
}