@mixin radius($radius){
   border-radius: $radius;
}

@mixin display($display, $gap){
    display: $display;
    gap: $gap;
}

@mixin animate_star($top, $right, $bottom, $delay, $duration){
    inset: $top $right $bottom;
    left: initial;
    animation-delay: $delay;
    animation-duration: $duration;
}