@import "./project.scss";
@import "./skills.scss";

.main{
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: 100px auto 0 auto;
    background-color: transparent;
    
    /* Sección "projectos" */
    .projects{
        position: relative;
        @include display(grid, 15px);
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        font-size: .9em;
        background-color: #fff;

        .section-title{
            position: absolute;
            top: -36px; left: 0;
        }

        .change-thumbnail{
            position: absolute;
            top: -32px; right: 0;
        }

        /*box shadow animado*/
        &::after, &::before{
            content: "";
            position: absolute;
            inset: 0;
            width: 100%; height: 100%;
            padding: 3.2px;
            background-image: conic-gradient(from var(--angle),transparent 70%, blue, red, orange, violet, cyan);
            @include radius(5px, 5px, 5px, 5px);
            translate: -3px -3px;
            z-index: -1;
            animation: bg_spin 10s linear infinite;
        }
        &::before{
            filter: blur(20px);
            opacity: .7;
        }
    }

    /* Sección "Herramientas" */
    .skills{
        @include display(grid, 20px);
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin-top: 80px;
        background-color: #fff;
    }
}


@property --angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes bg_spin{
    from{--angle: 0deg}
    to{--angle: 360deg}
}